[submodule "microservices/temperature-monitoring"]
	path = microservices/temperature-monitoring
	url = https://github.com/xfire741/temperature-monitoring.git
[submodule "microservices/temperature-processing"]
	path = microservices/temperature-processing
	url = https://github.com/xfire741/ems-algasensors-temperature-processing.git
[submodule "microservices/device-management"]
	path = microservices/device-management
	url = https://github.com/xfire741/ems-algasensors-device-management.git
